.main-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.main-title {
    width: 100%;
    font-size: 24px;
    padding: 3px;
    display: flex;
    justify-content: center;
}

.main-content {
    margin-top: 10px;
    flex: 1;
}

.main-table {
    display: grid;
    grid-template-columns: 15% 10% 25% 10% 10% 10% 20%;
    grid-template-rows: 30px;
    grid-auto-rows: 75px;
    overflow: auto;
}

.table-add {
    border: 0;
    font-family: Barlow;
    background-color: var(--color-1);
    grid-column-start: 1;
    grid-column-end: 8;
    transition: 100ms ease-in-out;
    font-size: 18px;
}

.table-add-icon {
    height: 35%;
    margin-right: 5px;
}

.table-hd {
    display: flex;
    justify-content: center;
}

.table-i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-img {
    height: 100%;
}

.icon-box {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box:hover {
    background-color: var(--color-1);
}

.table-icon {
    height: 65%;
}

.table-btn {
    cursor: pointer;
    font-family: Barlow;
    background-color: var(--color-1);
    font-size: 18px;
}

.table-input {
    font-family: Barlow;
    border: 0;
    background-color: var(--color-1);
    font-size: 18px;
    width: 80%;
}

