.list {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, minmax(250px, auto));
    grid-auto-rows: 250px;
    overflow: auto;
    grid-gap: 10px;
}

.list-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list-item-img {
    width: 100%;
    height: 75%;
}

.list-item-text {
    width: 100%;
    height: 12.5%;
}

.price {
    color: #c30000;
}