.login {
    height: 100%;
    width: 100%;
}

.login-box {
    border: 2px solid black;
    border-radius: 3px;
    width: 600px;
    height: 400px;
    flex-direction: column;
}

.login-info {
    display: flex;
    flex-direction: column;
}

.login-input {
    margin: 4px 0px;
}

.login-title {
    font-size: 18px;
    margin: 4px 0px;
}

.login-btn {
    margin: 4px 0px;
}