.header {
    margin: auto;
    width: 90%;
    height: 78px;
    display: flex;
    border-bottom: 2px solid black;
}

.header-logo {
    margin: 0 20px 0 20px;
    height: 100%;
}

.header-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-acc {
    height: 50%;
    display: flex;
}

.header-acc-icon {
    width: 35px;
    height: 35px;
}

.acc-name {
    margin: 0px 10px;
}

.header-nav {
    height: 50%;
    width: 100%;
}

.nav-item {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.nav-btn {
    min-width: 75px;
    width: 100%;
}

.main {
    height: calc(100% - 80px - 35px - 40px);
    width: 90%;
    margin: auto;
    padding: 20px 0px;
}

.footer {
    z-index: 2;
    background-color: black;
    width: 100%;
    height: 35px;
    color: white;
    display: flex;
    justify-content: center;
}

.footer-item {
    width: 30%;
}

.footer-item:not(:last-child) {
    border-right: 2px solid white;
}