.product {
    width: 100%;
    height: 100%;
    display: flex;
}

.product-left {
    width: 65%;
    height: 100%;
}

.product-return {
    height: 50px;
}

.product-img {
    width: 100%;
    height: calc(100% - 50px);
}

.product-info {
    padding: 100px 0px 0px 50px;
    width: calc(35% - 50px);
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
}

.product-type {
    font-size: 16px;
    color: grey;
}

.product-name {
    font-size: 48px;
}

.product-price {
    font-size: 36px;
}

.product-gender {
    font-size: 28px;
}

.product-color {
    font-size: 20px;
}

.product-buy-box {
    margin: 100px 0px;
    width: 100%;
}

.product-buy {
    width: 75%;
    font-size: 28px;
}

.product-buy-icon {
    height: 100%;
    margin-right: 25px;
}