.register {
    height: 100%;
    width: 100%;
}

.register-box {
    border: 2px solid black;
    border-radius: 3px;
    width: 600px;
    height: 400px;
    flex-direction: column;
}

.register-input {
    margin: 4px 0px;
}

.register-title {
    font-size: 18px;
    margin: 4px 0px;
}

.register-btn {
    margin: 4px 0px;
}