:root {
    --color-1: #eff7fa;
    --color-2: #deeff5;
    --color-3: #cee8f0;
}

@font-face {
    font-family: Barlow;
    src: url("../assets/fonts/Barlow.ttf");
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Barlow;
    font-size: 16px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    flex: 1;
}

.btn {
    font-family: Barlow;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    background-color: transparent;
}

.btn:hover {
    background-color: var(--color-2);
}

.input {
    border: 0;
    font-size: 16px;
    border-radius: 3px;
    background-color: var(--color-2);
    font-family: Barlow;
}